{% extends "dashboard.html" %}
{% load crispy_forms_tags %}
{% load static %}


{% block title %}
add-book
{% endblock  %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/addbook.css' %}">
{% endblock %}

{% block body %}
<div class="card p-3 mb-3">
    <h4 class="mb-0 mp-0">Add Book To Library</h4>
    <hr>
    <div class="row">
        <div class="col-lg-6">
            <form action="" method="post">
                {% csrf_token %}
                {{ form | crispy }}
                <input type="submit" class="btn btn-primary px-4" value="Submit">
            </form>
        </div>
        <div class="col-lg-6 text-center">
            <img src="{% static 'images/add-book.png' %}" class="img img-fluid w-75" alt="Books">
        </div>
    </div>
</div>
  
{% endblock %}