{% extends 'base.html' %}


{% block body %}
    <section class="admin-registration py-5" id="admin-registration">
       <div class="container-fluid">
            <div class="row justify-content-center align-items-center">
                <div class="col-lg-7">
                    <div class="card shadow p-4">
                        <div class="card-title">
                            <h2>Sign Up As Student</h2>
                            <hr class="text-primary">
                        </div>
                        {% for i in form  %}
                        <form method="post">
                            {% csrf_token %}

                                {{ i.label_tag }}
                                {{ i }}
                                {% for error in i.errors %}
                                    <p class="text-danger">{{ error }}</p>
                                {% endfor %}
                        
                        {% endfor %}
                        <button type="submit" class="btn btn-primary">Create Account</button>
                        </form>
                    </div>
                </div>
                <div class="col-lg-3">
                    <div class="card shadow p-5">
                        <p>If you have already an account? Please <br> <a href="#" class="btn btn-outline-primary px-3 mt-2">Log In</a></P>
                    </div>
                </div>
            </div>
       </div>
    </section>
{% endblock body %}