{% extends 'base.html' %}


{% block body %}
    <section class="adminclick py-5 bg-light" id="adminclick">
        <div class="container-fluid">
            <div class="text-center">
                <h1 class="admin-title">Hello, Student</h1>
                <p class="fs-4">Welcome to Online Library Management System.</p>
            </div>
            <hr class="my-4">
            <div class="text-center mb-5">
                <p>You can access various features after Login/SignUp.</p>
                <a href="/student_registration/" class="btn btn-primary btn-lg px-4">Sign Up</a>
                <a href="#" class="btn btn-info px-4 btn-lg ms-3">Log In</a>
            </div>
        </div>
    </section>
{% endblock body %}